<app-header></app-header>
<div class="user container">
    <div class="row">
        <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
        <app-category-bar></app-category-bar>
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="card recent-sales overflow-auto border-radio" *ngIf="!isLoading">
    
            <div *ngIf="!isEvent ">  
                <p class="text-center p-3">Aun no tenemos eventos para esta categoría</p>
            </div>
            <div class="card-body" *ngIf="isEvent">
    
                <table  class="table table-borderless datatable table-striped" >
                    <thead>
                        <tr>
                            <!-- <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Status</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let evento of events  ; let i = index;">
    
                            <td>
                                <a [routerLink]="['/event/', evento.id]">
                                    <img [src]="evento.avatar| imagenPipe: 'events' "  class="imagecircle shadow" alt="">
                                </a>
                            </td>
                            <td><a [routerLink]="['/event/', evento.id]">{{evento.name}} </a>
                                
                            </td>
                        </tr>
                    </tbody>
    
                </table>
    
    
            </div>
    
        </div>
    
    
    
    
    
    </div>

</div>
<app-menu-footer></app-menu-footer>