
<div id="carouselPrincipal" class="carousel slide" data-ride="carousel" data-interval="8000">

    
   
    <div class="carousel-indicators">
    <button *ngFor="let slider of sliders | slice:0:5; let i = index"  [class.active]="i === currentSlide" (click)="selectSlide(i)" type="button" data-bs-target="#carouselPrincipal" [attr.data-bs-slide-to]="i" [attr.aria-label]="'Slide ' + (i+1)"></button>
  </div>
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let slider of sliders| slice:0:5; let i=index; "
            [class.active]="i === currentSlide">
            <div class="BannPpal" [style.background-image]="'url(' + (slider.avatar | imagenPipe: 'events') + ')'" >
                    <div class="container">
                        <!-- <div class="cuadrotext {{slider.align}}"> -->
                            <!-- <h3 class="Up {{slider?.is_activeText}} {{slider.color}}">{{slider.first_title}}</h3> -->
                            <h3 class="Up ">{{slider.name}}</h3>
                            <!-- <img [src]="slider.avatar| imagenPipe: 'events' "  class="d-block w-100" alt="..."> -->
                            <!-- <p class="Up {{slider?.is_activeText}} {{slider.color}}">{{slider.subtitulo}}</p> -->
                            <div class="text-center">
                                <!-- <a [href]="slider.enlace" [target]="slider.target" class="btn-azul btn-lg {{slider.mostrarboton}}">+ Info</a> -->
                                <button class="btn btn-success" [routerLink]="['/comprar-ticket/',slider.id]">Comprar ticket</button>
                                <button class="btn btn-primary" [routerLink]="['/event/',slider.id]">+ Info</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    
    <button class="carousel-control-prev" *ngIf="currentSlide > 0" type="button" data-target="#carouselPrincipal" data-slide="prev" (click)="prevSlide()">
        <span class="fa fa-chevron-circle-left fa-2x  " aria-hidden="true"></span>
        <span class="sr-only"></span>
    </button>
    <button class="carousel-control-next" *ngIf="currentSlide <= 4" type="button" data-target="#carouselPrincipal" data-slide="next" (click)="nextSlide()">
        <span class="fa fa-chevron-circle-right fa-2x " aria-hidden="true"></span>
        <span class="sr-only"></span>
    </button>
</div>