<app-loading *ngIf="isLoading"></app-loading>

<!-- tickets recibidos -->
 <!-- <h5>{{title}}</h5> -->
 <div class="col-xs-12 " *ngFor="let ticket of ticketsShared ; let i = index">
    <div class="ticket-card">
        <div class="image">
            <img [src]="ticket.qr_code " alt="Ticket QR" />
        </div>
        <div class="contenido">
            <h3>{{ ticket.referencia }}</h3>
            <p>Evento: <a [routerLink]="['/event/', ticket.event_id]">{{ ticket.event?.name }}</a></p>
            <p>Status: </p>
            <span class="badge bg-success" *ngIf="ticket.status === 'SHARED'">
                <i class="fa fa-share"></i> Compartido
            </span>
            <span class="badge bg-success" *ngIf="ticket.status === 'ACTIVE'">
                <i class="fa fa-check-circle"></i> Activo
            </span>
            <span class="badge bg-success" *ngIf="ticket.status === 'SHAREDACTIVE'">
                                <i class="fa fa-check-circle"></i> Compartido Activado
                            </span>
            <span class="badge bg-primary" *ngIf="ticket.status === 'INACTIVE'">
                <i class="fa fa-coffee"></i> pendiente por activar o usar
            </span>
            <span class="badge bg-danger" *ngIf="ticket.status === 'EXPIRED'">
                <i class="fa fa-close"></i> Expirado
            </span>

        </div>
        <div class="actions">
            
            <a [routerLink]="['/ticket-detail', ticket.id]" class="btn btn-outline-primary">
                <i class="fa fa-eye"></i>
            </a>

        </div>
    </div>
</div>

