<div class="menu-footer">
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <i class="fa fa-home"></i>
            </a>
            <p>inicio</p>
        </li>

        <li>
            <a routerLink="/events" routerLinkActive="active">
                <i class="fa fa-star"></i>
            </a>
            <p>Eventos</p>
        </li>
        <li>
            <a routerLink="/payments" routerLinkActive="active">
                <i class="fa fa-money"></i>
            </a>
            <p>Pagos</p>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">
                <i class="fa fa-user"></i>
            </a>
            <p>Perfil</p>
        </li>
    </ul>
</div>