.tab-content-set{
    & .nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 10px;
        gap: 5px;

        & li{
            padding: 5px;
            font-size: 14px;
            & a{
                color: var(--azulclaro);
            }
        }
        

        
    }
   
}

.info_evento{
    display: flex;
    justify-content: space-between;
    // width: 98%;
    padding: 30px 15px;
    flex-direction: column;
    gap: 10px;
    & p{
        border-right: 1px solid #ccc;
        
    }

}

.pagodetail {
    & p{
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }
}

@media (max-width:990px) {
    .info_evento{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    padding: 30px 15px;
    gap: 0px;
    & p{
        border-right: none;
        
    }
}
}




