.carousel-indicators{
    &> button {
        background-color: var(--azul);
        opacity: 0.5;
        &.active {
            background-color: var(--azulclaro);
            opacity: 1;
        }
    }
}

.BannPublicidad {
    background-size: cover;
    height: calc(30vh - 60px);
    display: flex;
    justify-content: start;
    align-items: start;
}

.carousel-item {
    border-radius: 0px;
    height: auto;
    border: 1px solid var(--grisclaro);
}

.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
    & .fa {
        color: var(--azul);
        border:1px solid #ccc;
        border-radius: 100px;
        &:hover {
            color: var(--azulclaro);
        }

    }
}
