.carousel-indicators{
    &> button {
        background-color: var(--azul);
        opacity: 0.5;
        &.active {
            background-color: var(--azulclaro);
            opacity: 1;
        }
    }
}

.BannPublicidad {
    background-size: cover;
    height: calc(30vh - 60px);
    display: flex;
    justify-content: start;
    align-items: start;
}

.carousel-item {
    border-radius: 0px;
    height: auto;
    // border: 1px solid var(--grisclaro);
}

.nameevent{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: auto;
    min-height: 50px;
    color: var(--blanco);
    padding: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+53,0.16+100 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 53%,rgba(0,0,0,0.16) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
    & .fa {
        color: var(--azul);
        border:1px solid #ccc;
        border-radius: 100px;
        &:hover {
            color: var(--azulclaro);
        }

    }
}
