<!-- <app-header></app-header> -->
<!-- =======| Main |======= -->
  <app-loading *ngIf="isLoading"></app-loading>
<div class="container animated fadeInUp user main" *ngIf="!isLoading" role="main" name="profile" style="margin-top: 0px;">

    <div class="col-xs-12 mt-3">

        <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
        <!-- <h3>{{ticket.name}}</h3> -->
       

        <div class=" pagodetail ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <img [src]="ticket.qr_code " style="width:100%; padding: 10px;
                    border: 1px solid #ccc;
                    margin-top: 30px;" class="shadow" alt="">
                            <!-- <qrcode [qrdata]="myQrCodeValue" ></qrcode> -->
                        </div>
                        <div class="col-xs-12 col-sm-6 info_ticket p-3">
                            <p><b>Referencia:</b> {{ticket.referencia}}</p>
                            <p><b>Evento:</b> {{ticket.event.name}}</p>
                            <p><b>Empresa:</b> {{ticket.company.name}}</p>
                            <p><b>Monto:</b> {{ticket.monto| currency}}</p>
                            <p><b>Fecha inicio | Hora:</b> <br> {{ticket.fecha_inicio | date:'MMM d, y, h:mm:ss a'}}</p>
                            <p><b>Fecha fin | Hora:</b> <br> {{ticket.fecha_fin | date:'MMM d, y, h:mm:ss a'}}</p>
                            <p>Status: </p>
                            <!-- ticket.status -->
                            <span class="badge bg-success" *ngIf="ticket.status === 'SHARED'">
                                <i class="fa fa-share"></i> Compartido
                            </span>
                            <span class="badge bg-success" *ngIf="ticket.status === 'ACTIVE'">
                                <i class="fa fa-check-circle"></i> Activo
                            </span>
                            <span class="badge bg-success" *ngIf="ticket.status === 'SHAREDACTIVE'">
                                <i class="fa fa-check-circle"></i> Compartido Activado
                            </span>
                            <span class="badge bg-primary" *ngIf="ticket.status === 'INACTIVE'">
                                <i class="fa fa-coffee"></i> pendiente por activar o usar
                            </span>
                            <span class="badge bg-danger" *ngIf="ticket.status === 'EXPIRED'">
                                <i class="fa fa-close"></i> Expirado
                            </span>
                            <span class="badge bg-danger" *ngIf="ticket.status === 'USED'">
                                <i class="fa fa-close"></i> Usado
                            </span>
                             <!-- ticket.status -->
                            <p><b>Asistencia:</b> {{asistencia}}</p>
                            <span *ngIf="ticket.status === 'SHAREDACTIVE'">
                                <p><b>Usado por:</b> {{client.email}}</p>
                            </span>
                            <span *ngIf="ticket.status === 'SHARED'">
                                <p><b>Compartido con:</b> {{client.email}}</p>
                            </span>
                        </div>
                    </div>
                </div>

    </div>
</div>
<!-- End #main-->
<!-- <app-menu-footer></app-menu-footer> -->