.qrcode{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 30px;
}

canvas{
    width: 100% !important;
    height: auto !important;
}

.topeimg{
    display: flex;
    flex-direction: row;
   
}

.infotik{
        display: flex;
        flex-direction: row;
        gap:10px;
        
    }

.offcanvas-bottom {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.offcanvas-bottom.show {
    transform: translateY(0);
}
