.pagodetail {
    & p{
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }
}

.offcanvas-bottom {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.offcanvas-bottom.show {
    transform: translateY(0);
}
