<app-header></app-header>
<div class="container-fluid user">
    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
    <div class="row">
        <div class="col-xs-12" style="
            display: flex;
            justify-content: space-between;">
            <!-- buscador -->
            <form class="form-horizontal">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" style="width: 65vw;">
                    <div class="input-group">
                        <input type="search" name="search" type="text" class="form-control col-xs-12"
                            placeholder="Buscar.." [(ngModel)]="query" aria-describedby="button-addon1"
                            class="form-control border-0 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary circle"
                                (click)="search()" name="submit" data-toggle="tooltip" title="mostrar todos"><i
                                    class="fa fa-search"></i></button>
                            <a href="javascript:;" (click)="PageSize()" class="btn btn-primary doctor-refresh ms-2 circle"><i
                                    class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- buscador -->
              <!-- <button type="button" style="display: flex
;
    height: 40px;" class="btn btn-primary" [routerLink]="['/student/add']" >
                                Agregar
                            </button> -->
        </div>
        
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="card recent-sales overflow-auto border-radio" *ngIf="!isLoading">

        <div class="card-body">

            <table class="table table-borderless datatable table-striped">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Finaliza</th>
                        <!-- <th>Nacimiento</th> -->
                        <th>P General</th>
                        <th>P Especialistas</th>
                        <th>P Estudiantes</th>
                        <th>Status</th>
                        <!-- <th>Option</th> -->
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let evento of eventos  ; let i = index;">

                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#eventoModal" (click)="openPaymentsModal(evento)">

                                <img [src]="evento.avatar| imagenPipe: 'events' "  class="imagecircle shadow" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="['/event/', evento.id]">{{evento.name}} </a></td>
                        <!-- <td><a data-bs-toggle="modal" data-bs-target="#eventoModal" (click)="openPaymentsModal(evento)">{{evento.name}} </a></td> -->
                        <!-- <td>{{evento.name}}  </td> -->
                        
                        <td>{{evento.fecha_inicio|date}} </td>
                        <td>{{evento.fecha_fin|date}} </td>
                        <td>{{evento.precio_general|currency}} </td>
                        <td>{{evento.precio_especialistas|currency}} </td>
                        <td>{{evento.precio_estudiantes|currency}} </td>
                        <td>
                             <span class="badge bg-success" *ngIf="evento.status === 'ACTIVE'">Activo</span>
                            <span class="badge bg-danger" *ngIf="evento.status === 'INACTIVE'">Inactivo</span>
                            <span class="badge bg-primary" *ngIf="evento.status === 'RETIRED'">Retirado</span>
                            <span class="badge bg-warning" *ngIf="evento.status === 'FINISHED'">Graduado</span>    
                        </td>
                        
                        <td class="text-nowrap text-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventoModal" (click)="openPaymentsModal(evento)">
                                <i class="fa fa-eye"></i>
                            </button>
                            <!-- <button type="button" class="btn btn-danger"  (click)="eliminarUser(evento)">
                                <i class="fa fa-trash"></i>
                            </button> -->
                        </td>

                        <!-- Modal -->
                        <!-- <app-listapaymentshijo [selectedEventoProfile]="selectedEventoProfile"></app-listapaymentshijo> -->
                        
                        <!-- Modal -->
                    </tr>
                </tbody>

            </table>


        </div>

    </div>

   <!-- Button trigger modal -->




</div>
<app-menu-footer></app-menu-footer>